/* Estilos para el contenedor principal */
body{
    background-color: #333;
    color: #fcfdfd;
  }
  
  .categoria-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el título */
  .categoria-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #5aceca;
  }
  
  /* Estilos para el formulario */
  .categoria-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  /* Estilos para la entrada de texto */
  .categoria-input {
    padding: 1rem;
    margin-right: 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    outline: none;
    background-color: #fff;
    color: #333;
    flex-grow: 1;
    margin: 10px;
  }
  
  /* Estilos para el botón */
  .categoria-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #3f24eb;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .categoria-btn:hover {
    background-color: #555;
  }
  
  /* Estilos para la lista */
  .categoria-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  
  .categoria-delete-btn{
    padding: 3 px;
    border: none;
    border-radius: 0.25rem;
    background-color: #950808;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 7px;
  }
